body{
    background-color: black;
  }

img{
    width: 100%;
    border: 5px solid rgb(255, 252, 252);
}
h1{
    font-family: "Libre Baskerville", serif;
    color: aliceblue;
    text-align: center;
    width: 50%;
    margin-left: 25%;
}

p{
    color: aliceblue;
    text-align: center;
    width: 50%;
    margin-left: 25%;

}

